version: '3'

services:
  vlabs:
    container_name: virtual-lab-app
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "8795:3000"
    environment:
      - DATABASE_URL=file:/app/prisma/dev.db
      - NEXTAUTH_SECRET=changethissecretinproduction
      - NEXTAUTH_URL=http://localhost:8795
    volumes:
      # Persist the local SQLite file to the container
      # This maps your local 'prisma' folder (containing dev.db) to the container
      - ./prisma:/app/prisma
      - ./public/uploads:/app/public/uploads
